<div class = "container">
  <div class="row">
    <h4 class="media-heading">Hello, <%= @user.username %></h4>
    You have <%= pluralize(@user.items.count, 'item') %> left
    <br><br>
  </div>
  <div class= "row">
    <h4>Items:</h4>
    <%= render @items%>
    <br>
  </div>

    <%= render partial: 'items/form', locals: {user: @user} %>
  </div>
</div>
