<h4 class="media-heading">hello <%= @user.email %></h4>
You have  <%= pluralize(@user.items.count, 'item') %> listed

<h3>Items:</h3>

<%= render @items%>


<h3>Make new item:</h3><br>
<%= render partial: 'items/form', locals: {user: @user} %>
