<h4 class="media-heading">hello <%= @user.email %></h4>
You have  <%= pluralize(@user.items.count, 'item') %> listed

<h2>Items:</h2>

<%= render @items%>


<h2>Make new list:</h2><br>
<%= render partial: 'items/form', locals: {user: @user} %>
