<div class = "center jumbotron">
  <h1>Welcome to Blocitoff</h1>
  <h2>
    By creating to-do items, you can increase your productivity by <strong>31.4%</strong>!
  </h2>
  <h3>
    (not scientifically proven)
  </h3>

  <%= link_to "Yes, I want to do it!!!", user_path(current_user), class: 'btn btn-primary' %>

</div>
